{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}Register To Scenario{% endblock %}

{% block left %}
{% show_latest_posts %}
{% endblock %}

{% block middle %}
<div class="row justify-content-center">
    <form method="POST">
        <br>
        <div class="text-center"><h1 class="h3 mb-3 font-weight-normal">Register</h1></div>
        <div class="mb-3">
            {% csrf_token %}
            <label>Username</label>
            {{user_form.username}}
            <br>
            <label>E-mail</label>
            {{user_form.email}}
            <br>
            <label>Password</label>
            {{user_form.password}}
            <br>
            <label>Repeat Password</label>
            {{user_form.password2}}
            <div class="alert alert-dark" role="alert">
                <p>password must be a max 16 characters</p> 
            </div>
        </div>
        {% if user_form.errors %}
            <div class="alert alert-danger" role="alert">
                {{user_form.errors}}
            </div>
        {% endif %}
        <div class="d-grid gap-2 col-4 mx-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}