{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block middle %}

<style>
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
</style>
<div class="container">
  <div class="starter-template">
    <h1>Reset your password</h1>
    {% if validlink %}
    <p class="lead">Please enter your new password twice:
    </p>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="d-grid gap-2 col-4 mx-auto">
        <button type="submit" class="btn btn-primary">Change Password</button>
      </div>
    </form>
    {% else %}
    <p class="lead">The password reset link was invalid, possibly because it has
      already been used. Please request a new password reset.</p>
    {% endif %}
  </div>
</div>

  <!-- <h1>Reset your password</h1>
  {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Change my password" /></p>
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has
    already been used. Please request a new password reset.</p>
  {% endif %} -->
{% endblock %}
