{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}

{% block middle %}
<div class="row justify-content-center">
    <form method="POST">
        <br>
        <div class="text-center"><h1 class="h3 mb-3 font-weight-normal">Forgotten your password?</h1>
            <p>Enter your e-mail address to obtain a new password.</p></div>
        <div class="mb-3">
            {% csrf_token %}
            {{form.as_p}}
        </div>
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {{form.errors}}
            </div>
        {% endif %}
        <div class="d-grid gap-2 col-4 mx-auto">
            <button type="submit" value="Send e-mail" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}