{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block middle %}
<style>
    .starter-template {
      padding: 3rem 1.5rem;
      text-align: center;
    }
  </style>
  <div class="container">
    <div class="starter-template">
      <h1>Reset your password</h1>
      <p class="lead">We've emailed you instructions for setting your password.
        <br>
        If you don't receive an email, please make sure you've entered the address you registered with.
      </p>
    </div>
</div>
{% endblock %}